<div class="main">
<h1>Welcome in Stupid Coach</h1>
<div>
<form action="answer" data-turbo="false">
<label for="input" class="d-block mb-25">What would you like to say to stupid coach?</label>
  <input type="text" name="ask" placeholder="type here...">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
</div>
</div>
